.loader-container {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #ffffff;
  overflow: hidden;

  &__progress {
    height: 30px;
    width: 0%;
    background-color: black;

    &.is-animating {
      animation: 3s progress ease-out;
    }
  }
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
